<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="h-full bg-gray-50">
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="https://share.getcloudapp.com/eDugKNYm/download/creditario.svg?utm_source=viewer" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-skin-base">
      Iniciar sesión
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" action="#" method="POST">
        <p class="text-skin-error px-4 text-center">
          El correo electrónico o la contraseña son inválidos
        </p>
        <div>
          <label for="email" class="block text-sm font-medium text-skin-muted">
            Correo electrónico
          </label>
          <div class="mt-1">
            <input id="email" name="email" type="email" autocomplete="email" required class="input w-full" placeholder="ana@company.com">
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-skin-muted">
            Contraseña
          </label>
          <div class="mt-1">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="input w-full">
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" class="check">
            <label for="remember-me" class="ml-2 block text-sm text-skin-muted">
              Recordarme
            </label>
          </div>

          <div class="text-sm">
            <a href="#" class="font-medium text-skin-accented hover:text-skin-accented-hover hover:underline">
              Forgot your password?
            </a>
          </div>
        </div>

        <div>
          <button type="submit" class="w-full flex button button-accented">
            Sign in
          </button>
        <%= link_to "Improve Your Ruby Skills", no_password.new_session_path %>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
