<h1 class="font-semibold text-lg text-grey-700">Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div>
  <%= link_to "Ir a show", home_path(1), class: "text-sky-600 hover:text-sky-700 hover:underline" %>
</div>
