# Ignore bundler config.
.bundle/

# Ignore all logfiles and tempfiles.
doc/
log/*.log
pkg/
tmp/*/*/*

# Ignore dummy files.
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
test/dummy/app/assets/builds/*
test/dummy/.byebug_history

# Ignore Node Modules
node_modules/

.DS_Store
.byebug_history

.solargraph.yml
