<div class="h-screen bg-gray-50">
  <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <%= image_tag("no_password/aoo.svg", class:"mx-auto h-12 w-auto", alt: "Workflow")%>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-skin-base">
        <%= t("no_password.session_confirmations.edit.title") %>
      </h2>
    </div>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>
